{{outlet}}

<h1>Projects</h1>

<form {{action 'saveProject' newProject on='submit'}}>
  <label for="projectName">Name:</label>
  {{input id="projectName" value=newProject.name}}

  <label for="projectDescription">Description:</label>
  {{textarea id="project" value=newProject.description}}

  <button>Save</button>
</form>

{{#each project in model}}
  <h3>{{link-to project.name 'projects.show' project}}</h3>
  <p>{{project.description}}</p>
{{/each}}
